<div class="bg">
<h2><b>ABOUT US</b></h2>
<i>
  <p>Shri Dharmasthala Manjunatheshwara College of Engineering & Technology,</p>
  <p>Dharwad was established in the year 1979 under the flagship of SDME</p>
  <p>Society and has grown into one of the nationally acclaimed premier</p>
  <p>engineering institutions of the country.President of SDME Society</p>
  <p>Padmabhushana Dr. Veerendra Heggade, Dharmadhikari of Sri Kshetra</p>
  <p>Dharmasthala is the guiding spirit and driving Force for all progress and</p>
  <p>achievement of all the institutions established under SDME Society. SDME</p>
  <p>Society runs more than 30 institutions imparting quality education in all</p>
  <p>over the state including Medical and Dental colleges. Under the expert</p>
  <p>leadership and guidance of the management, Principal and competent faculty,</p>
  <p>SDM College of Engineering and Technology is making successful strides towards</p>
  <p>new horizons and aims to scale greater heights.Institution has been consistently</p>
  <p>rated high,ranking within 50, amongst private engineering colleges of the country.</p>
</i>
</div>
