<div class="bgc">
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
      <pre>College Postal Address
      Basaveshwar Engineering College,
      Phone: 08354 - 234060 / 234204
      Fax: 08354 - 234204
      E-mail: becprincipal@yahoo.com
      Bagalkot-587102,
      Karnataka, India</pre>
  </mat-grid-tile>
  <mat-grid-tile>
      <pre>Dr. C. B. Shivayogimath
      Principal
      Phone: 08354 - 234060 / 234204
      Resi:     08354 - 233574
      Fax:      08354 - 234204
      E-mail: becprincipal@yahoo.com
      principal@becbgk.edu
      Bagalkot-587102, Karnataka, India</pre>
  </mat-grid-tile>
  <mat-grid-tile>
      <pre>Dr. K Chandrasekhar
      Controller of Examinations
      Phone: ( 08354 ) 234205
      Fax: 08354-234205,
      E-mail: becbgk.coe@gmail.com
      Bagalkot-587102,
      Karnataka, India</pre>
  </mat-grid-tile>
  <mat-grid-tile>
      <pre>Dr. S. S. Injaganari
      TEQIP Co-ordinator
      Phone: ( 08354 ) 234121,
      Fax: 08354-234204
      E-mail: injagneri@gmail.com
      Bagalkot-587102,
      Karnataka, India</pre>
  </mat-grid-tile>
  <mat-grid-tile>
      <pre>Dr. S. S. Balli
      Dr. S. N. Kurbet
      Placement Officer
      Phone: ( 08354 ) 234422,
      Fax: 08354-234422,
      E-mail: ssballi@rediffmail.com
      Bagalkot-587102,
      Karnataka, India</pre>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list>
<!-- <div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    College Postal Address
    Basaveshwar Engineering College,
    Phone: 08354 - 234060 / 234204
    Fax: 08354 - 234204
    E-mail: becprincipal@yahoo.com
    Bagalkot-587102,
    Karnataka, India
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      Dr. C. B. Shivayogimath
      Principal
      Phone: 08354 - 234060 / 234204
      Resi:     08354 - 233574
      Fax:      08354 - 234204
      E-mail: becprincipal@yahoo.com
      principal@becbgk.edu
      Bagalkot-587102, Karnataka, India
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      Dr. K Chandrasekhar
      Controller of Examinations
      Phone: ( 08354 ) 234205
      Fax: 08354-234205,
      E-mail: becbgk.coe@gmail.com
      Bagalkot-587102,
      Karnataka, India
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      Dr. S. S. Injaganari
      TEQIP Co-ordinator
      Phone: ( 08354 ) 234121,
      Fax: 08354-234204
      E-mail: injagneri@gmail.com
      Bagalkot-587102,
      Karnataka, India
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      Dr. S. S. Balli
      Dr. S. N. Kurbet
      Placement Officer
      Phone: ( 08354 ) 234422,
      Fax: 08354-234422,
      E-mail: ssballi@rediffmail.com
      Bagalkot-587102,
      Karnataka, India
  </div>
</div> -->
</div>


